nav.header-nav 
    a(href="").header-nav__logo E-Commerce
    ul.header-nav__list 
        li
            a.header-nav__list-link(href="") Home
        li
            a.header-nav__list-link(href="") About
        li 
            a.header-nav__list-link(href="") Contact Us
.header-content
    .header-content__left
        h1.header-title New E-commerce App best for You
        p.header-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet sed vulputate vitae velit dictum cursus amet. Turpis donec ut velit quis. Cursus commodo, eget urna, sapien amet. 
        a.header-button(href="") 
            img(src="images/gp.webp", alt="")
        a.header-button(href="") 
            img(src="images/as.webp", alt="")
    .header-content__img-div
        img.header-content__img(src="images/header-bg.webp", alt="")